@model List<Sepet>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNavbarFooter.cshtml";
}

<div class="row pb-4 mb-5">
    <div class="col-lg-8 mb-5 mb-lg-0">
        <form method="post" action="">
            <div class="table-responsive">
                <table class="shop_table cart">
                    <thead>
                        <tr class="text-color-dark">
                            <th class="product-thumbnail" width="15%">
                                &nbsp;
                            </th>
                            <th class="product-name text-uppercase" width="30%">
                                Ürün
                            </th>
                            <th class="product-price text-uppercase" width="15%">
                                Fiyat
                            </th>
                            <th class="product-quantity text-uppercase" width="20%">
                                Adet
                            </th>
                            <th class="product-subtotal text-uppercase text-end" width="20%">
                                Toplam
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var i in Model)
                        {
                            <tr class="cart_table_item">
                                <td class="product-thumbnail">
                                    <div class="product-thumbnail-wrapper">
                                        <a href="/Sepet/UrunSil/@i.UrunId" class="product-thumbnail-remove" title="Remove Product">
                                            <i class="fas fa-times"></i>
                                        </a>
                                        <a href="shop-product-sidebar-right.html" class="product-thumbnail-image" title="Photo Camera">
                                            <img width="90" height="90" alt="" class="img-fluid" src="~/resimler/@i.Urun.ResimUrl">
                                        </a>
                                    </div>
                                </td>
                                <td class="product-name">
                                    <a href="shop-product-sidebar-right.html" class="font-weight-semi-bold text-color-dark text-color-hover-primary text-decoration-none">@i.Urun.Adi</a>
                                </td>
                                <td class="product-price">
                                    <span class="amount font-weight-medium text-color-grey">@i.Urun.indirimliFiyat</span>
                                </td>
                                <td class="product-quantity">
                                    <div class="quantity float-none m-0">
                                        <input type="button" class="minus text-color-hover-light bg-color-hover-primary border-color-hover-primary adetsayeksi" value="-">
                                        <input type="text" class="input-text qty text degiskens" title="Qty" value="@i.Adet" name="quantity" min="1" step="1">
                                        <input type="button" class="plus text-color-hover-light bg-color-hover-primary border-color-hover-primary adetsayarti" value="+">
                                        <input name="sepet-id" hidden value="@i.Id">
                                        <input name="urun-id" hidden value="@i.Urun.Id">

                                    </div>
                                </td>
                                <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

                              
                                @{
                                    int? adet = i.Adet;
                                    decimal? fiyat = i.Urun.indirimliFiyat;
                                    decimal toplamurunfiyat = Convert.ToDecimal(adet * fiyat);
                                }
 
                                <td class="product-subtotal text-end">
                                    <span class="amount text-color-dark font-weight-bold text-4 toplamfiyatlar" value="@toplamurunfiyat">@toplamurunfiyat</span>
                                </td>
                            </tr>

                        }


                        <tr>
                            <td colspan="5">
                                <div class="row justify-content-between mx-0">
                                    <div class="col-md-auto px-0 mb-3 mb-md-0">
                                        <div class="d-flex align-items-center">
                                            <input type="text" class="form-control h-auto border-radius-0 line-height-1 py-3" name="couponCode" placeholder="Kupon Kodu">
                                            <button type="submit" class="btn btn-light btn-modern text-color-dark bg-color-light-scale-2 text-color-hover-light bg-color-hover-primary text-uppercase text-3 font-weight-bold border-0 border-radius-0 ws-nowrap btn-px-4 py-3 ms-2">Kupon Kodu Uygula</button>
                                        </div>
                                    </div>
                                    <div class="col-md-auto px-0">
                                        <button type="submit" class="btn btn-light btn-modern text-color-dark bg-color-light-scale-2 text-color-hover-light bg-color-hover-primary text-uppercase text-3 font-weight-bold border-0 border-radius-0 btn-px-4 py-3">Sepeti Güncelle</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div class="col-lg-4 position-relative">
        <div class="pin-wrapper" style="height: 460.4px;">
            <div class="card border-width-3 border-radius-0 border-color-hover-dark" data-plugin-sticky="" data-plugin-options="{'minWidth': 991, 'containerSelector': '.row', 'padding': {'top': 85}}" style="width: 356px;">
                <div class="card-body">
                    <h4 class="font-weight-bold text-uppercase text-4 mb-3">Sepet Toplam</h4>
                    <table class="shop_table cart-totals mb-4">
                        <tbody>
                            <tr class="cart-subtotal">
                                <td class="border-top-0">
                                    <strong class="text-color-dark">Ara Toplam</strong>
                                </td>
                                <td class="border-top-0 text-end">
                                    <strong><span class="amount font-weight-medium" id="geneltoplam">ara toplam</span></strong>
                                </td>
                            </tr>
                            <tr class="shipping">
                                <td colspan="2">
                                    <strong class="d-block text-color-dark mb-2">Ücretler</strong>

                                    <div class="d-flex flex-column">
                                        <label class="d-flex align-items-center text-color-grey mb-0" for="shipping_method1">
                                           Kdv : 10 ₺
                                        </label>
                                        <label class="d-flex align-items-center text-color-grey mb-0" for="shipping_method2">
                                            Kargo : 15 ₺
                                        </label>
                                        <label class="d-flex align-items-center text-color-grey mb-0" for="shipping_method3">
                                            Ek ücret : 15 ₺
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr class="total">
                                <td>
                                    <strong class="text-color-dark text-3-5">Total</strong>
                                </td>
                                <td class="text-end">
                                    <strong class="text-color-dark"><span class="amount text-color-dark text-5" id="toplamtutar"></span>₺</strong>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                    <a id="odemeyegecbtn" class="btn btn-dark btn-modern w-100 text-uppercase bg-color-hover-primary border-color-hover-primary border-radius-0 text-3 py-3">Ödemeye Geç <i class="fas fa-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        debugger

        var toplam = 0;
        $(".toplamfiyatlar").each(function () {
            toplam += parseFloat($(this).text());
        })

        $("#toplamtutar").text(toplam)



        $(".adetsayeksi").click(function () {
            debugger
            var adet = $(this).siblings("input[name='quantity']").val()
            var sepetid = $(this).siblings("input[name='sepet-id']").val()
            var urunid = $(this).siblings("input[name='urun-id']").val()
            var toplamsepet = parseFloat($("#toplamtutar").text())

            $.ajax({
                url: "/Sepet/SepetAdetGuncelleEksi/",
                type: "POST",
                data: {
                    adet: adet,
                    sepetid: sepetid,
                    urunid: urunid,
                    sepettoplam: toplamsepet

                },
                success: function (response) {
                    location.reload();

                },
                error: function (xhr, status, error) {
                    location.reload();

                }

            });
        })
        $(".adetsayarti").click(function () {
            debugger
            var adet = $(this).siblings("input[name='quantity']").val()
            var sepetid = $(this).siblings("input[name='sepet-id']").val()
            var urunid = $(this).siblings("input[name='urun-id']").val()
            var toplamsepet = parseFloat($("#toplamtutar").text())

            $.ajax({
                url: "/Sepet/SepetAdetGuncelleArti/",
                type: "POST",
                data: {
                    adet: adet,
                    sepetid: sepetid,
                    urunid: urunid,
                    sepettoplam: toplamsepet

                },
                success: function (response) {
                    location.reload();

                },
                error: function (xhr, status, error) {
                    location.reload();

                }

            });
        })

    });
</script>
<script>

</script>
<script>

  
</script>
<script>
    $("#odemeyegecbtn").click(function(){
        debugger
        var total = $("#toplamtutar").text()
        $.ajax({
            url: "/Siparis/FiyatTut/",
            type: "POST",
            data: {
               toplam:total

            },
            success: function (response) {
                window.location.href = "/Siparis/Index/"

            },
            error: function (xhr, status, error) {
                window.location.href = "/Siparis/Index/"

            }

        });
    })
</script>




 